<!DOCTYPE html>
<html>
  <head>
    <title>maestro</title>
    <link rel="icon" href="http://meetmaestro.com/_themes/maestro/img/apple-touch-icon-152x152-precomposed.png?v=1401741397" type="image/x-icon">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/coffee/controllers/main.js"></script>
    <script src="/js/coffee/modules/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>