<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css">
<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/styles/main.css">
<div ng-app="maestro">
    <div class="top section">
        <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <button class="btn btn-default maestro-button survey-top" type="button">TAKE SURVEY</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 social-btns">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline social-btns-holder" style="position: relative;">
                                        <li>
                                            <a class="btn btn-default btn-social" role="button" href="#">
                                                <span>
                                                    <img src="../images/twitter.svg"/>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default btn-social" role="button" href="#">
                                                <span>
                                                    <img src="../images/facebook.svg"/>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default btn-social" role="button" href="#">
                                                <span>
                                                    <img src="../images/email.svg"/>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><img src="../images/logo.svg" class="logo">
                    <div class="central-block">
                        <p class="top-text">Forty years ago, the first call was made using a cell phone. Just think of how
                            much mobile devices have become integral parts of our everyday lives since the first important
                            call. Here at Maestro, mobile has not only grown to be more than 70% of our business. It has
                            also become a necessity to the way our team lives and works.</p>

                        <p class="top-text">We are curious to see just how important mobile has become to us so we surveyed
                            out team. Take a look at the results from 30 of our Maestronauts and then take the survey,
                            yourself. We'll compile the results and send a new infographic to everyone who responds.</p>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <br><br><br>
            </div>
        </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="central-block">
                        <h1>HOW MUCH MOBILE DOES ONE MAESTRONAUT NEED?</h1>
                        <p class="top-text">We asked our team how many mobile devices they use both at work and at home. The
                            answers ranged from 1 to 6. Yes, there is a mobile-obsessed Maestronaut with six mobile
                            devices</p>
                        <p style="margin-bottom: 10px" class="second-text-bold"><span style="font-size: 31px">66</span>&nbsp&nbspTOTAL
                            DEVICES</p>
                        <div class="small-devices-div">
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                        </div>
                        <div class="small-devices-div">
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                        </div>
                        <div class="small-devices-div">
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                        </div>
                        <div class="small-devices-div">
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                        </div>
                        <div  class="small-devices-div">
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                        </div>
                        <div class="small-devices-div">
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPod Classic.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices"><img src="../images/iPad.svg"></span>
                            <span class="small-devices"><img src="../images/Mobile Phone.svg"></span>
                            <span class="small-devices"><img src="../images/iPhone 3(G).svg"></span>
                            <span class="small-devices-spacer"></span>
                        </div>
                    </div>
                    <div class="central-block">
                        <p style="margin-bottom: 10px" class="second-text-bold"><span style="font-size: 51px">2.2</span>&nbsp&nbspDEVICES
                            PER MAESTRONAUT</p>
                        <img class="" src="../images/iPhone 3(G) Large.svg">
                        <img class="" src="../images/iPhone 3(G) Large.svg">
                        <img class="" src="../images/iPhone 3(G) Large Partial.svg">
                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" ng-controller="PieChart">
                    <hr style="color: #ffffff;">
                    <h1>WHERE DOES THE TIME GO?</h1>
                    <p class="top-text">When asked to guestimate the amount of time they spend each day on a mobile device,
                     here's what our Maestronauts said.</p>
                    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colours="colors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr style="color: #ffffff;">
                    <h1>IS THERE AN APP FOR THAT?</h1>
                    <p class="top-text">We then asked our team how many apps they felt they used on a typical day.
                    Their answers were in line with the national average of 7.9 <bold>apps per day</bold>.</p>
                </div></div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr style="color: #ffffff;">
                    <h1>IT'S A POPULARITY CONTEST</h1>
                    <p class="top-text">So what apps are most popular here at Team Maestro? When asked to report their
                    favorite and most-used apps, our Maestronauts provided quite a collection of great picks. Here are
                    our team's top five apps.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr style="color: #ffffff;">
                    <h1>JUST HOW ADDICTED ARE YOU?</h1>
                    <p class="top-text">So many apps, so little time. How often do Maestronauts seek out and
                    download new apps? Here's what they said.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr style="color: #ffffff;">
                    <h1>APPSOLUTELY CRITICAL.</h1>
                    <p class="top-text">Finally, we asked our team members just how important apps are to their
                    everyday lives. In summary: PLEASE don't take away our apps or our mobile devices!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>TAG, YOU"RE IT!</h1>
                    <p class="top-text">Now that you've seen just how important apps and mobile devices
                    are to us here at Maestro, it's your turn to share. Click here to take the survey,
                    yourself. Then share it with a friend or two (or five or ten). We'll send all
                    participants an updated infographic with the results.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-default maestro-button" type="button">TAKE SURVEY & GET INFOGRAPHIC</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/images/Maestro Bloop.svg">
                        </div>
                        <div class="col-md-4">
                            <div class="row footer"><h6 style="padding-left: 3px; padding-top: 0px; margin-top:0px">Find us online.<h6></div>
                            <div class="row">
                                <div class="col-md-12" style="margin-left:0px; padding-left: 0px">
                                    <ul class="list-inline social-btns-holder">
                                        <li>
                                            <a class="btn btn-default round-btn-social" role="button" href="#">
                                                <span class="fa fa-twitter fa-lg" style="color: #00C6CE"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default round-btn-social" role="button" href="#">
                                                <span class="fa fa-facebook fa-lg" style="color: #00C6CE"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default round-btn-social" role="button" href="#">
                                                <span class="fa fa-linkedin fa-lg" style="color: #00C6CE"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default round-btn-social" role="button" href="#">
                                                <span class="fa fa-envelope-o fa-lg" style="color: #00C6CE"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h6 style="padding-left: 3px; padding-top: 0px; margin-top:0px">Visit Planet Maestro</h6>
                        <div style="padding-left: 3px; padding-top: 0px; margin-top:0px" class="col-md-6 pull-right">
                            <div class="footer">401 E. Michigan Ste. 202<br>
                            Kalamazoo, MI 49007<br>
                            (800) 319-2122</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/Chart.js/Chart.js"></script>
<script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/coffee/modules/main.js"></script>
<script src="/js/coffee/controllers/main.js"></script>