html{
  height: 100%;
}
body{
  background-color: #00C6CE;
  height: 100%;
}
p { 
  color: #ffffff;
  width: 95%;
}
#pie{
    height: 500px;
    width: 100%;
}
.stripe{
    background-color: #009AA3;
}
.footer{
    font-family: arial;
    color: white;
    padding-bottom:0px;
    padding-top: 0px;
    margin-bottom:0px;
    margin-top: 0px;
}
.top{
    background: url(/images/top-background.png) no-repeat;
    background-size: cover;
}
.layer {
    background-color: rgba(0, 200, 208, 0.4);
    background-size: cover;
    position: relative;
}
h1{
    font-size: 43px;
    font-family: Cyclone-Background;
}
h6 {
    font-family: arial;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}
.top-text{
    font-family: Droid-Serif;
    font-size: 21px;
}
.second-text{
  font-family: Droid-Serif;
  font-size: large;
}
.second-text-bold{
  font-family: Cyclone-Background;
  font-size: 25px;
}

.logo{
  margin-bottom: 30px;
    z-index: 999999;
}

.section{
    width: 100%;
    height: 100%;
}

.section:not(.top) {
    padding-top: 30px;
    padding-bottom: 30px;
}

.maestro-button{
    color: #3AC2CF;
    background-color: white;
    font-family: Cyclone-Background;
    font-size: x-large;
    width: 100%;
}

.survey-top{
    padding: 0px 0px;
    font-size: xx-large;
}

.small-devices-div{
    display: table;
    margin-bottom: 8px;
    width: 100%;
}

.small-devices{
    display: table-cell;
    width: 8.33%;
}

.central-block{
  width: 98%;
}

.social-btns-holder{
  text-align:center;
}

.social-icons a {
    display: inline-block;
    width: 20%;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    color: #00C6CE;
    text-align: center;
    background-color: #ffffff;
    height: 32px;
    line-height: 32px;
}

.social-btns-holder li{
  padding:0;
}

.btn-social{
  color: white;
  opacity:0.9;
  font-size:10px;
  padding:8px 12px;
  background:#1196A3;
  border: none;
  margin: 4px;
}

.round-btn-social {
    background: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 7px;
}

@media (max-width:767px) {
  .btn-social{
    width: 80px;
  }
}

.btn-social:hover{
  color:white;
  opacity:1;
}

.resume-heading .social-btns{
  margin-top:15px;
}

@font-face {
    font-family: MaestroCustom-Regular;
    src: url("../fonts/MaestroSymbols/MaestroCustom-Regular.otf") format("opentype");
}

@font-face {
    font-family: Cyclone-Background;
    src: url("../fonts/Cyclone/Cyclone Background.otf") format("opentype");
}

@font-face {
    font-family: Cyclone-Inline;
    src: url("../fonts/Cyclone/Cyclone Inline.otf") format("opentype");
}

@font-face {
    font-family: Cyclone-Shaded;
    src: url("../fonts/Cyclone/Cyclone Shaded.otf") format("opentype");
}

@font-face {
    font-family: Droid-Serif;
    src: url("../fonts/DroidSerif/DroidSerif.ttf") format("opentype");
}

@font-face {
    font-family: Droid-Serif-Bold;
    src: url("../fonts/DroidSerif/DroidSerif-Bold.ttf") format("opentype");
}

@font-face {
    font-family: Droid-Serif-Bold-Italic;
    src: url("../fonts/DroidSerif/DroidSerif-BoldItalic.ttf") format("opentype");
}

@font-face {
    font-family: Droid-Serif-Italic;
    src: url("../fonts/DroidSerif/DroidSerif-Italic.ttf") format("opentype");
}

@font-face {
    font-family: Droid-Serif-Bold;
    src: url("../fonts/MaestroSymbols/MaestroCustom-Regular.otf") format("opentype");
}